<!-- Inside the partial template, we refer to the current object using the variable name that matches the name of the template. In this case, the partial is named line_item, so inside the partial we expect to have a variable called line_item -->

<!-- If the item currently being rendered by the cart is the one that was just changed, ie the current_item, then tag it as such -->

<% if line_item == @current_item %>
<tr id = "current_item">
<%else%>
<tr>
<%end%>
	<td><%= line_item.quantity %>&times;</td> 
	<td><%= line_item.product.title %></td> 
	<td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
</tr>